[submodule "3rdparty/minimidi"]
	path = 3rdparty/minimidi
	url = https://github.com/lzqlzzq/minimidi.git
[submodule "3rdparty/pdqsort"]
	path = 3rdparty/pdqsort
	url = https://github.com/orlp/pdqsort.git
[submodule "zpp_bits"]
	path = 3rdparty/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/nanobench"]
	path = 3rdparty/nanobench
	url = https://github.com/martinus/nanobench.git
[submodule "3rdparty/abcmidi"]
	path = 3rdparty/abcmidi
	url = https://github.com/Yikai-Liao/abcmidi.git
[submodule "3rdparty/prestosynth"]
	path = 3rdparty/prestosynth
	url = https://github.com/lzqlzzq/prestosynth.git
