[submodule "3rdparty/minimidi"]
	path = 3rdparty/minimidi
	url = https://github.com/lzqlzzq/minimidi.git
[submodule "3rdparty/pdqsort"]
	path = 3rdparty/pdqsort
	url = https://github.com/orlp/pdqsort.git
[submodule "zpp_bits"]
	path = 3rdparty/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
