.py.method{border-top:1px solid var(--color-content-foreground-border);margin-top:1rem;padding-top:.5rem}
.py.attribute,.py.property{margin-top:.5rem}
.sig-name.descname{font-weight:600}
.sig-prename.descclassname{display:none}